*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: #eaeded;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}
.btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/* NAVBAR */
header {
  padding: 0 20px;
  background-color: gold;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nav__img {
  display: block;
}

.nav__form {
  position: relative;
  height: 100%;
}
.nav__input {
  position: relative;
  z-index: 10;
  width: 100%;
  min-width: 350px;
  height: 100%;
  min-height: 35px;
  padding: 2px 10px;
  border: none;
  border-radius: 0;
  outline: none;
}

.nav__search-btn {
  font-size: 16px;
  opacity: 1;
  position: absolute;
  height: 100%;
  min-height: 35px;
  background-color: #fff;
  padding-left: 2px;
  transform: translateX(0);
  transition: 600ms;
  transition-property: opacity, transform;
}

.nav__search-btn--hidden {
  transform: translateX(-45px);
  opacity: 0;
}

.nav__user-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 20px;
}

/* Product Item */
.product-item {
  background-color: #fff;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(2, [col-start] min-content [col-end]);
  min-height: 200px;
  align-items: center;
}
.product-item__img {
  grid-column: col-start 1 / col-end 2;
  justify-self: center;
  width: 250px;
}
.product-item__name {
  grid-column: col-start 1 / col-end 2;
  text-align: center;
}

.product-item__about {
  grid-column: col-start 1 / col-end 2;
  align-self: end;
  background-color: goldenrod;
  text-align: center;
}

/* Home SearchedProducts */

.products {
  width: 75%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    [col-start] minmax(min-content, 200px) [col-end]
  );
  justify-content: center;
  gap: 40px;
}

/* Product */
.product {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 400px));
  justify-content: center;
  align-content: center;
  align-items: center; */
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
}
.product > * {
  /* justify-self: center; */
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.product__left {
  display: grid;
  grid-template-columns: repeat(2, [col-start] 1fr [col-end]);
  gap: 20px;
  font-size: 24px;
}
.left__img,
.product__cta {
  grid-column: col-start 1 / col-end 2;
  justify-self: center;
}
.left__img {
  width: 200px;
  height: 200px;
}
.left__value-text {
  padding-left: 10px;
}
.left__value-price {
  padding-right: 10px;
  justify-self: end;
}
.product__cta {
  background-color: #3483fa;
  font-size: 30px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  padding: 5px 15px;
}
.product__name {
  font-size: 32px;
  text-transform: uppercase;
}
.product__right *:not(:last-child) {
  margin-bottom: 10px;
}

/* Login */
.login,
.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 50px;
}

.login__title {
  margin-bottom: 20px;
}

.login__form {
  justify-items: center;
  width: 100%;
}
.login__input {
  width: 100%;
  margin: 5px 0;
}

/* User purchases */
.user-sales {
  color: #3e3e3e;
  background-color: #fff;
  align-self: flex-start;
  margin-top: 50px;
}

.user-sales__item {
  border: 2px solid #3e3e3e;
}
.user-sales__item > p,
.user-sales__item:not(:last-child) {
  margin-bottom: 10px;
}
.user-sales__title {
  font-size: 58px;
  text-align: center;
  margin-bottom: 20px;
}
.user-sales__date {
  margin-bottom: 0;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 26px;
}
.user-sales__amount,
.user-sales__price {
  padding-left: 20px;
  font-size: 20px;
}
